---

import { Icon } from 'astro-icon/components'

interface Props {
  bgColor: string;
  icon: string;
  title: string;
  text: string;
  text02: string;
}

const { bgColor, icon, title, text, text02 } = Astro.props;
---

<!--pasamos como props el icons el color de fondo, el titulo, el text, el link y el color del boton -->
<div class={`flex flex-col justify-evenly  gap-4 w-72 h-96 md:w-72 md:h-[350px] px-10 py-10  shadow-xl rounded-xl ${bgColor}`}>
    <Icon name={icon} class="w-8 h-8 scale-110 " />
    <h3 class="text-xl font-bold w-32 text-white " >{title}</h3>
    <p class="text-bold text-white">{text}</p>

    <p class={`w-full h-14 p-5 flex justify-center items-center rounded-2xl bg-white text-black font-bold text-center text-sm shadow-sm`}>{text02}</p>

  </div>
